html {
    background: #e3e3e3 url(../images/background.png);
    font-family: "Pragmatica", sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

