.auth {
    width: 384px;
    margin: 0 auto;
}

    .auth__logo {
        width: 359px;
        height: 412px;
        background: url(../images/logo.png);
        margin: 0 auto;
    }

    .auth__login {
        margin-top: 54px;
    }

        .auth__login__row {
            margin-top: 15px;
        }

        .auth__login__row:first-child {
            margin-top: 0;
        }

        .auth__login__button {
            margin-top: 59px;
        }