.breadcrumbs {
    font-size: 18px;
    line-height: 20px;
    color: #fff;
}
    .breadcrumbs__item {
        display: inline-block;
        vertical-align: top;
    }

        .breadcrumbs__item__link {
            display: block;
        }
