.button {
    outline: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0 8px;
    background: #57a7dc;
    background: -webkit-linear-gradient(#79c3ed, #4699d3);
    background:         linear-gradient(#79c3ed, #4699d3);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.35);
}

.button_darkblue {
    background: #214d81;
    background: -webkit-linear-gradient(#295d92, #1b4074);
    background:         linear-gradient(#295d92, #1b4074);
}

.button_red {
    background: #c5213b;
    background: -webkit-linear-gradient(#e01f42, #b52237);
    background:         linear-gradient(#e01f42, #b52237);
}

.button_black {
    background: #2d2a2b;
    background: -webkit-linear-gradient(#3e3d3f, #231f20);
    background:         linear-gradient(#3e3d3f, #231f20);
}

.button:active {
    background: #407ca4;
}

.button_darkblue:active {
    background: #183960;
}

.button_red:active {
    background: #92192b;
}

.button_black:active {
    background: #201f1f;
}

