.dish {
    width: 618px;
    height: 784px;
    background: #fff;
    border-radius: 21px;
    box-shadow: 0 0 15px 2px rgba(0,0,0,1);
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
    font-style: italic;
    color: #000;
    position: relative;
    padding-bottom: 4px;
}
    .dish__image {

    }

        .dish__image__file {
            border-radius: 15px;
            width: 618px;
            height: 560px;
        }

    .dish__label {
        margin-top: 31px;
        text-align: center;
    }

        .dish__label__title {
            font-size: 22px;
            font-style: normal;
        }

        .dish__label__text {
            margin-top: 23px;
        }

        .dish__label__info {
            margin-top: 22px;
        }

    .dish__add {
        width: 76px;
        height: 76px;
        line-height: 76px;
        border-radius: 38px;
        background: #62b1e2;
        box-shadow: 0 0 15px 2px rgba(0,0,0,1);
        position: absolute;
        bottom: -8px;
        right: -8px;
        text-align: center;
    }

        .dish__add__icon {
            display: inline-block;
            line-height: 0;
            vertical-align: middle;
        }

    .dish__add:active {
        background: #6db9e7 linear-gradient(#7ec8f0, #699d3);
    }