.page {
    width: 768px;
    height: 1024px;
    display: table;
}
    .page__tabs {
        display: table-row;
    }
        .page__tabs__container {
            display: table-cell;
            height: 50px;
        }


    .page__nav {
        display: table-row;
    }
        .page__nav__container {
            display: table-cell;
            height: 60px;
        }


    .page__body {
        display: table-row;
    }

        .page__body__container {
            display: table-cell;
        }
            .page__body__container__scrollable {
                height: 100%;
                overflow-y: auto;
            }

            
    .page__footer {
        display: table-row;
    }
        .page__footer__container {
            display: table-cell;
            height: 60px;
        }