.song-ordered {
    position: relative;
}

    .song-ordered__body {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 15px 2px rgba(0,0,0,1);
    }

    .song-ordered__type {
        width: 30px;
        height: 30px;
        line-height: 29px;
        border-radius: 15px;
        background: #c5213b linear-gradient(#e31f43, #b52237);
        box-shadow: 0 0 5px 1px rgba(0,0,0,1);
        text-align: center;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        top: 30px;
        left: -55px;
    }

        .song-ordered__type__icon {
            display: inline-block;
            vertical-align: middle;
            line-height: 0;
        }